body{
    background-color: #FFF5E2;
}

.first-container{
    background-color: green;
}

.left-container{
    background-color: #FDBB40 ;
}

.logo-container img{
    transform: translate(50% , -50%); 
}

.second-container {
    background-color: white;
}

.create-burger{
    background-color: transparent;
    border: 0px solid;
    color: black;
    outline: none;
}

.checkbox-extraprice {
    font-size: 25px;
}

input[type=checkbox] {
    transform: scale(1.5);
    outline:none;
}

.img-container{
    width: 45px;
    height: 45px;
    display: inline-block;
}
.img-container img{
    width: 100%;
}

.ingredient{
    font-weight: 600;
}

.add-text{
    color: #FA607E;
    font-weight: 600;
}

.discount-typebox input[type=text] {
    border-radius: 10px;
    background-color: #FFF5E2;
    border: 0px solid;
    color: black;
    width: 65%;
    height: 30px;
    outline:none;
}

#discount-txt{
    font-weight: 600;
    font-size: 20px;
}

.calculate-button{
    display: flex;
    justify-content: center;
}

.calculate-price-btn{
    background-color: #FDBB40 ;
    border-radius: 10px;
    border: 0px solid;
    height: 50px;
    width: 120px;
    font-weight: 700;
    font-size: 20px;
}

.color-footer{
    background-color:#D33359 ;
}

.txt-price{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.total-price{
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
}





