body{
    background-color: #FFF5E2;
}

.first-container{
    background-color: green;
}

.left-container{
    background-color: #FDBB40 ;
}

.logo-container img{
    transform: translate(50% , -50%); 
}






